body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    scroll-behavior: smooth;
}

header.hero {
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    animation: fadeIn 2s ease-in-out;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

 #cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
 }
#cookie-banner button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.floating-button:hover {
  background-color: #0056b3;
}

.hero-content {
    max-width: 800px;
    margin: auto;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

.cta {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: #ff8533;
}

main {
    padding: 20px;
    background-color: #f0f0f0;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.about, .services, .why-choose, .contact {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e9ecef;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #0056b3;
    color: #fff;
    padding: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
